*{
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}
body{
    background-image: url('./175932.jpg');
    background-repeat: no-repeat;
}

.search-bar{
    display: flex;
    margin: auto;
    width: 80%;
    height: 5%;
    position: relative;
    top: 40%;
    align-items: center;
}

input{
    border: 1px solid black;
    width: 100%;
    height: 35px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.search-btn{
    width: 100px;
    height: 35px;
    background-color: rgb(12 73 227);
    color: white;
    font-size: 17px;
    border: none;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;

}
.app{
    width:80%;
    display: block;
    margin: auto;
    position: fixed;
    top: 20%;
    left: 10%;
    
}

.header{
    display: flex;
    align-items: center;
    width: 100%;
    height: 50px;
    background-color: black;
    color: white;
    box-shadow: 0px 15px 5px -15px #111;  
}
.header p{
        font-size: 25px;
        padding: 0px 20px;
}

.icon{
    font-size: 25px;
}

.result-container{
   
    display: flex;
    margin: auto;
    padding-top: 40px;
    width: 80%;
    /* justify-content: space-between; */
    /* position: absolute; */
}

.temp{
    display: flex;
    justify-content: space-around;
    width:100%;
    color: white;
    flex-direction: column;
    font-size: 30px;
    /* align-items: center; */
}
.city-name{
    text-align: center;
    margin-top: 30px;
    font-size: 40px;
    color: white;
}


.his-container{
    width: 10px;
}


.title{
    color: white;
}

.history li{
    color: white;
    text-decoration: none;
}

.result-box{
    width: 80%;
    margin:auto;
    display: flex;
    justify-content: space-around;
}

.icon-and-weather-type{
    display: flex;
    justify-content: space-around;
    color: white;
    flex-direction: column;
    align-items: center;
    font-size: 30px;
}

.weather-icon{
    width: 200px;
    height: 200px;
}

.enter-city-name{
    font-size: 40px;
    text-align: center;
}

.result{
    margin-top: 50px;
    display: block;
    justify-content: center;
    flex-direction: column;
    margin: auto;
    width: 80%;
    /* border: 2px solid black; */
}








@media only screen and (max-width: 500px) {

    .result-box{
        width: 100%;
        margin:auto;
        display: block;
        justify-content: space-around;
        flex-direction: column;
    }

    .search-bar{
    
        width: 100%;
        height: 5%;
        margin-bottom: 50px;
       
    }

    .enter-city-name{
        font-size: 22px;
        text-align: center;
        color: white;
    }

    .city-name{
        margin-top: 0px;
        /* color: white; */
    }

    .temp{
        display: flex;
        justify-content: space-around;
        width:100%;
        color: white;
        flex-direction: row;
        font-size: 30px;
        /* align-items: center; */
    }

    
        .result{
            padding: 10px;
            display: block;
            margin: auto;
            width: 90%;
            border: 1px solid rgb(119, 119, 119);
            border-radius: 10px;
            box-shadow: 0px 0px 20px gray;
            }

.app{
  
    top: 12%;
   
    
}
    
  }